.wrapper-content-priv {
    margin: 0 5% 0 5%;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    height: 618px;
}

.cont-priv {
    display: flex;
    flex-flow: column;
    width: 60%;
    margin: 0;
    height: 618px;
}

.block-priv {
    display: flex;
    flex-flow: wrap;
    margin: 0;
}

/* Фото профиля и другие данные */
.wrapper_img_profile {
    width: 31%;
    height: 220px;
    border-radius: 10px;
    background-color: #fff;
    margin: 0 2% 13px 0;
}

/* Смена личных двнных */
.wrapper_сhange_data {
    width: 65%;
    height: 220px;
    border-radius: 10px;
    background-color: #fff;
    margin: 0 0 13px 0;
}

/* Приложения крона */
.wrapper_app {
    width: 31%;
    height: 150px;
    border-radius: 10px;
    background-color: #fff;
    margin: 0 2% 13px 0;
}

/* Информация */
.wrapper_info {
    width: 65%;
    height: 150px;
    border-radius: 10px;
    background-color: #fff;
    margin: 0 0 13px 0;
}

/* Смена пароля */
.wrapper_change_pass {
    width: 31%;
    height: 220px;
    border-radius: 10px;
    background-color: #fff;
    margin: 0 2% 0 0;
}

/* Вопросы */
.wrapper_question {
    width: 31.5%;
    height: 220px;
    border-radius: 10px;
    background-color: #fff;
    margin: 0 2% 0 0;
}

/* Купоны */
.wrapper_coupon {
    width: 31.5%;
    height: 220px;
    border-radius: 10px;
    background-color: #fff;
    margin: 0 2% 0 0;
}

/* История */
.wrapper_history {
    flex: 1 0 auto;
    width: 36vw;
    /* height: auto;
    min-height: 618px; */
    border-radius: 10px;
    background-color: #fff;
}