.wrapper {
  display: flex;
  margin-left: 17%;
  margin-right: 17%;
  margin-bottom: 40px;
  margin-top: 40px;
}

.register-form {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}

.inp_text {
  width: 260px;
  height: 25px;
  margin-bottom: 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 15px;
  padding-left: 5px;
}

.date {
  color: #000;
  font-size: 15px;
  width: 260px;
  height: 25px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding-left: 5px;
}

.politics {
  color: #7A231D;
}

.code_button {
  background-color: #7A231D;
  border-radius: 6px;
  color: #fff;
  width: 264px;
  height: 30px;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 10px;
  cursor: pointer;
}

.register {
  background-color: #116E77;
  border-radius: 6px;
  color: #fff;
  width: 180px;
  height: 30px;
  font-size: 16px;
  margin-top: 5px;
  cursor: pointer;
}

.code {
  width: 70px;
  height: 18px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  margin-right: 10px;
  text-align: center;
  margin-top: 5px;
}

.how_work {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.text_how {
  display: flex;
  color: #576476;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.text_how span:not(:last-child) {
  margin-right: 40px;
}

.cont_two {
  display: flex;
  flex-direction: column;
  margin-top: 25px;

}

.hed_text {
  text-transform: uppercase;
  font-size: 18px;
  color: #344051;
  float: left;
}

.hed_text_2 {
  text-transform: uppercase;
  font-size: 18px;
  color: #344051;
  float: left;
}

.img_work {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 40px;
  height: 50px;
}

.hed_text_3 {
  text-transform: uppercase;
  font-size: 18px;
  color: #344051;
  float: left;
}

.img_head_text {
  width: 25px;
  margin-right: 10px;

}

.img_hed_logo {
  width: 130px;
  float: right;
}

.icon_s {
  display: flex;
}

.img_icon {
  width: 40px;
  height: 40px;
}

.social_icon {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.block_left {
  float: left;
  width: 65%;
}

.block_right {
  float: right;
  margin-top: 25px;
}

.app_icon {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 10px;
}

.img_icon_app {
  margin-bottom: 15px;
}

.content_two {
  margin-top: 40px;
}

.checkbox_pass {
  margin-bottom: 10px;
}
